.signupform {
  .signintitle {
    background-color: blue;
    width: 200px;
    height: 360px;
    border-radius: 6px;
  }
  .signuptitle {
    font-size: 28px;
    color: white;
    font-weight: 500;
  }
  .signupform{
    margin: 10px auto
  }
  .sign-up {
    // margin: 10px;
    position: relative;
    bottom: 17px;
  }
  .Signin-account{
    text-align: center;
    font-weight: 480;
  }
}
