.align{
    margin-left: 40px;
}
.list{
    cursor: pointer;
    color: black;
}
.active{
    color: blue;
}
.nonactive{
    color: black;
}
.button-submit{
    cursor: pointer;
    margin-top: 18px
}
.button-Addresssubmit{
    cursor: pointer;
    width: 358px;
}



.list-items{
    cursor: pointer;
    padding: 10px;
}

.active{
    color: blue;
}

.nonActive{
    color: black;
}

p{
    margin-bottom: 0rem;
}

.ms-4 {
    margin-left: 1.8rem !important;
}

.buttonhome{
    margin-left: 33px;
    margin-top: 0px;

    }