.sign-in{
    .sign-inlogo{
        width:200px;
        background-color: blue;
        height: 360px;
        border-radius: 6px;
     
        
    }
    .sign-inform{
        margin: 20px auto
    }
    .sign-inname{
        color: white;
        font-size: 25px;
        margin: 17px  12px;
        font-weight: 700;
    //     background-image: url(//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/login_img_c4a81e.png);
    // background-position: center 85%;
    // background-repeat: no-repeat;
    }
    .sign-titleinfo{
        font-size: 18px;
    margin: 12px;
    line-height: 150%;
    color: #dbdbdb;
    }
    .sign-button{
        margin: 20px;
    }
    .Signin-account {
        color: #2874f0;
        font-weight: 400;
        
    }
}

